.root {
	-fx-background-image: url("background-header.png");
	background-image: url("background-header.png");
	-fx-background-size: 100%;
	background-size: 100%;
	-fx-background-repeat: no-repeat;
	background-repeat: no-repeat;
	-fx-background-color: white;
	background-color: white;
	-fx-font-size: 1.25em;
	font-size: 1.25em;
}

#vboxMain {
	-fx-pref-height: 800;
	-fx-pref-width: 450;
	-fx-aligment: top;
	-fx-spacing: 20;
}

#mainLabelContainer {
	-fx-pref-height: 120;
	-fx-alignment: bottom-center;
}

#content {
	-fx-pref-height: 550;
	-fx-spacing: 20;
	-fx-alignment: top-center;
}

#footer {
	-fx-pref-height: 90;
	-fx-alignment: center;
}

.label {
	-fx-text-alignment: center;
}

.text-input {
	-fx-max-width: 432;
	max-width: 432px;
	-fx-background-color: #dfefff;
	background-color: #dfefff;
	-fx-padding: 10;
	padding: 10px;
}

.main-label {
	-fx-font-size: 2em;
	font-size: 2.5em;
	-fx-font-weight: bolder;
	font-weight: bolder;
	-fx-wrap-text: true;
	-fx-text-alignment: center;
}

.login-button {
	-fx-pref-width: 432;
	-fx-pref-height: 48;
	-fx-background-color: white;
	background-color: white;
	-fx-background-radius: 24;
	-fx-text-fill: deepskyblue;
	-fx-border-color: deepskyblue;
	border-color: deepskyblue;
	-fx-border-radius: 24;
	border-radius: 24px;
	-fx-border-width: 1;
	border-width: 1px;
}

.login-button:hover {
	-fx-background-color: deepskyblue;
	background-color: deepskyblue;
	-fx-text-fill: white;
}

.google-button {
	-fx-text-fill: black;
	-fx-background-color: #f3f9ff;
	background-color: #f3f9ff;
	-fx-border-color: black;
	border-color: black;
}

.google-button:hover {
	-fx-text-fill: white;
	-fx-background-color: gray;
	background-color: gray;
}

#output {
	-fx-text-fill: red;
}

.swap-login {
	-fx-text-fill: gray;
	-fx-background-color: none;
	background-color: none;
}

.swap-login:hover {
	-fx-text-fill: black;
	-fx-background-color: lightgray;
	background-color: lightgray;
}

#signUpButtons {
	-fx-spacing: 100;
}

.nav-tab {
	-fx-pref-height: 90;
	-fx-pref-width: 90;
	-fx-alignment: center;
}

.nav-tab:hover {
	-fx-background-color: lightgray;
	background-color: lightgray;
}

.current-tab .label {
	-fx-text-fill: deepskyblue;
}

#labelHomeLessons {
	-fx-font-weight: bolder;
	font-weight: bolder;
	-fx-min-width: 400;
	min-width: 400px;
	-fx-text-alignment: center;
}

#listLessons {
	-fx-max-width: 400;
	max-width: 400px;
	-fx-spacing: 10;
	-fx-background-insets: 0;
	-fx-padding: 0;
	padding: 0px;
}

.home-lesson {
	-fx-pref-height: 90;
	-fx-spacing: 15;
	-fx-padding: 5;
	padding: 5px;
}

.home-lesson:hover {
	-fx-background-color: lightgray;
	background-color: lightgray;
	-fx-background-radius: 10;
}

#listCourses {
	-fx-max-width: 400;
	max-width: 400px;
	-fx-spacing: 10;
}

.home-course {
	background-color: lightgray;
}

.home-course:hover {
	-fx-background-color: lightgray;
	background-color: lightgray;
	-fx-background-radius: 10;
}

.home-coursetitle {
	-fx-font-weight: bolder;
	font-weight: bolder;
	-fx-font-size: 1.4em;
	font-size: 1.4em;
}
.home-coursedesc {
	-fx-font-weight: normal;
	font-weight: normal;
	-fx-font-size: 1em;
	font-size: 1em;
	-fx-white-space: normal;
	white-space: normal;
}

.lesson-progress {
	-fx-progress-color: deepskyblue;
	-fx-min-width: 75;
	min-width: 75px;
	-fx-min-height: 75;
	min-height: 75px;
}
